In [1]:
tup1=(1,2,"shappu","teju",28,69)
list1=list(tup1)
list1

[1, 2, 'shappu', 'teju', 28, 69]

In [2]:
list1.insert(1,["cherry","soha"])
list1

[1, ['cherry', 'soha'], 2, 'shappu', 'teju', 28, 69]

In [3]:
list1.pop(1)
list1

[1, 2, 'shappu', 'teju', 28, 69]

In [4]:
list1.insert(4,"cherry")
list1

[1, 2, 'shappu', 'teju', 'cherry', 28, 69]

In [5]:
list1.pop(4)
list1

[1, 2, 'shappu', 'teju', 28, 69]

In [6]:
tup1=tuple(list1)
tup1

(1, 2, 'shappu', 'teju', 28, 69)