The continue statement is used to skip the rest of the code inside a loop for the current iteration only.Loop does not terminate but continues on with the next iteration.

In [ ]:
for i in range(1,10):
  if i == 7:
    continue
  else:
    print(i)

1
2
3
4
5
6
8
9

In [ ]:
for val in "blue":
  if val == "e":
    continue
  print(val)

b
l
u

The pass statement is a null statement.But the difference between the comment and pass is that the comment is ignored by the interpreter whereas pass is not ignored.It is generally used as a placeholder that is when user doesn't want to code.Sometimes,pass is used when the user doesn't want any code to execute.so user simply places pass there as empty code is not aowed in loops, functions,class.So using pass statement user avoids this error.

In [ ]:
n = 10
for i in range(n):
  pass

In [ ]:
a = 10
b = 20
if(a<b):
  pass
else:
  print("b<a")

In [ ]:
list1 = ['a','b','c','d']
for i in list1:
  if(i == 'b'):
    pass
  else:
    print(i)

a
c
d

printing numbers 10 to 1 using while loop

In [1]:
count = 10
while(count>=1):
  print(count)
  count=count-1

10
9
8
7
6
5
4
3
2
1

using for loop to loop over tuples,sets and dictionaries

In [2]:
tup1=(28,69,"shappu","teju")
for item in tup1:
  print(item)

28
69
shappu
teju

using for loop over sets

In [3]:
set1={1,2,3,4,5}
for item in set1:
  print(item)

1
2
3
4
5

using for loop for dictionaries

In [4]:
stateandcapital= {'telangana':'Hyderabad','AndhraPradesh':'Amaravathi','karnataka':'Bangalore'}
for state in stateandcapital:
    print(state)

telangana
AndhraPradesh
karnataka

In [5]:
stateandcapital= {'telangana':'Hyderabad','AndhraPradesh':'Amaravathi','karnataka':'Bangalore'}
for capital in stateandcapital.values():
    print(capital)

Hyderabad
Amaravathi
Bangalore

In [6]:
stateandcapital= {'telangana':'Hyderabad','AndhraPradesh':'Amaravathi','karnataka':'Bangalore'}
for state,capital in stateandcapital.items():
    print(state, ":", capital)

telangana : Hyderabad
AndhraPradesh : Amaravathi
karnataka : Bangalore